@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

/* 
#f9c80e - dark yellow background
#2ED3B5 - green background
#8739FA - purple background
#682BE9 - dark purple background
#0E1212 - darker background
*/

:root {
    --maincolor: #00d7b3;
    --background: #f5f5f5;
    --text: #111;
    --bars: #fff;
    --selection: #eee;
    --box: #ffffff;
    --experience: #e3e3e3;
    --text2: #1e1e1e;
}

.dark-theme {
    --maincolor: #00D7B3;
    --background: #0E1212;
    --text: #fff;
    --bars: #fff;
    --selection: #333;
    --box: #3333;
    --experience: #222;
    --text2: #eee;
}

@keyframes hover-up {
    0% {
        transform: translateY(-8px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-8px);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes reverse-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes opacity-change {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacity-change {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}



















/* CSS */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--maincolor);
    color: var(--selection);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: var(--background);
    padding-left: 15rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: var(--selection);
    color: var(--text);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    border: 3px solid var(--maincolor);
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.btn i {
    padding: 0 0.5;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--maincolor);
    transform: scale(1.05);
    border: 3px solid var(--text);
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #b4b4b444;
}

.heading span {
    color: var(--maincolor);
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 15rem;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    animation: fade-right 0.5s 1.45s both;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 0.3rem;
    margin: 1rem 0;
    color: var(--text);
    font-size: 2rem;
}

header .navbar ul li a:hover {
    color: var(--maincolor);
}

header .social a {
    padding: 0.3rem 0;
    font-size: 1.8rem;
    color: var(--text);
    margin: 0 0.6rem;
    cursor: pointer;
    transition: 0.01s;
}

header .social a:hover {
    color: var(--maincolor);
}

#icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 2.5rem;
}

#icon:hover {
    transform: scale(1.1);
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 7rem;
}

.home h3 {
    font-size: 8rem;
    color: var(--text);
    animation: fade-up 0.5s 0.65s both;
    padding-top: 2.5rem;
}

.home h1 {
    color: var(--maincolor);
    font-size: 9rem;
    margin-bottom: 1.5rem;
    animation: fade-up 0.5s 0.95s both;
}

.home h4 {
    font-size: 3rem;
    color: var(--text);
    animation: fade-up 0.5s 1.45s both;
    max-width: 100%;
}

.home h2 {
    font-size: 2.5rem;
    color: var(--text2);
    padding: 4rem 0;
    animation: fade-up 0.5s 1.45s both;
}

.home h2 span {
    font-size: 5rem;
    vertical-align: middle;
}

#blinker {
    font-size: 2rem;
    color: var(--maincolor);
    animation: blinker 1s linear infinite;
}

#projects {
    background: var(--background);
}

.outer {
    width: 100%;
    height: auto;
    color: var(--bars);
}

.slider-wrapper {
    width: 92%;
    margin: none;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-left: 8%;
}

.my-slider {
    width: 100%;
    margin: 0;
    padding-top: 4rem;
}

#projects .box {
    min-height: 200px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: 0.5s;
    opacity: 50%;
}

#projects .box:hover {
    opacity: 100%;
}

#projects .box img {
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    width: 10rem;
    height: 10rem;
}

#projects .box:hover img {
    opacity: 1;
    transform: scale(1);
}

#projects .container .outer .slider-wrapper h3 {
    font-size: 2rem;
    text-align: center;
    color: var(--text);
}

#projects .container .outer .slider-wrapper h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}

#projects .container .outer .slider-wrapper h2 i {
    font-size: 2.5rem;
    color: var(--maincolor);
    margin-right: 0.5rem;
}

.website,
.edit,
.weather,
.auto,
.tetris,
.shield {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.website {
    background-image: url("../../images/projects/website.png");
}

.edit {
    background-image: url("../../images/projects/edit.png");
}

.weather {
    background-image: url("../../images/projects/weather-app.png");
}

.auto {
    background-image: url("../../images/projects/cursor.png");
}

.tetris {
    background-image: url("../../images/projects/pytetris.png");
}

.shield {
    background-image: url('../../images/projects/shield.png');
}

.previous,
.next {
    padding: 5px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.01s ease-in-out;
    border: 3px solid var(--maincolor);
    background-color: var(--background);
}

.previous:hover,
.next:hover {
    border: 3px solid var(--text);
}

#project-controls {
    position: relative;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

#project-controls i {
    color: var(--text);
    font-size: 2rem;
}

.skills-list {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.skills-list .skills {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    gap: 0.25rem;
    justify-content: center;
}

.skills-list .skill {
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 2px solid var(--maincolor);
    background: var(--background);
    color: var(--text);
    font-size: 2rem;
    font-weight: 500;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
}

.skills-list .skill:hover {
    background-color: rgb(0, 215, 179, 0.2);
}

.experience .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
    width: 98%;
}

.experience .box-container .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--box);
    color: var(--text);
    font-size: 1.7rem;
    width: 100%;
    border-bottom: 2.5px solid transparent;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--text);
    position: relative;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.experience .box-container .box span {
    font-size: 1.3rem;
    background: var(--experience);
    color: var(--text);
    border-radius: 1rem;
    padding: 0.5rem 2.5rem;
}

.experience .box-container .box h3 {
    font-size: 2rem;
    color: var(--text);
    padding-top: 1.2rem;
    padding-bottom: 0.3rem;
}

.experience .box-container .box h3 a {
    color: var(--maincolor);
    border-bottom: 2px solid transparent;
}

.experience .box-container .box a:hover {
    border-bottom: 2px solid var(--text);
}

.experience .box-container .box ul li {
    margin-left: 1.5rem;
    font-size: 1.4rem;
    color: var(--text2);
    padding: 0.3rem 0;
}

.experience .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--bars);
    background: var(--maincolor);
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 7rem;
    padding-bottom: 1rem;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--box);
    color: var(--text);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    transition: border-bottom-color 0.3s ease;
    border-bottom: 2.5px solid transparent;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.contact .box:focus {
    border-bottom-color: var(--maincolor);
}

.contact .row form .message {
    height: 28rem;
    resize: vertical;
}

.contact .row .content .title {
    color: var(--maincolor);
    font-size: 3rem;
    font-weight: 1000;
}

.contact .row .content .info .title {
    color: var(--maincolor);
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: 1000;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--text2);
    padding: 1rem 0;
    font-weight: normal;
    width: 100%;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--maincolor);
}

.contact .row .content .info a {
    padding: 0.7rem 2.1rem;
    background: var(--selection);
    color: var(--text);
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: 3px solid var(--maincolor);
    width: 37%;
    text-align: center;
}

.contact .row .content .info a i {
    padding: 2rem 0.5rem;
    font-size: 1.8rem;
}

.contact .row .content .info a:hover {
    background: var(--maincolor);
    transform: scale(1.05);
    border: 3px solid var(--text);
}

.footer {
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    color: var(--text);
    background: var(--background);
}

.footer span {
    color: var(--maincolor);
}

.footer i {
    color: var(--maincolor);
}


/* SPECIAL CSS*/
.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    animation-name: fade-up;
    animation-duration: 0.6s;
    opacity: 1;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 10;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--text);
    z-index: 1001;

    -webkit-animation: spin 1.7s linear infinite;
    animation: spin 1.7s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--maincolor);

    -webkit-animation: reverse-spin 0.6s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: reverse-spin 0.6s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--text);

    -webkit-animation: spin 1s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;

    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.loaded #loader-wrapper {
    opacity: 0;
    visibility: hidden;

    transition-property: visibility, opacity;
    transition-duration: 0.5s;
}

















































@media (max-width: 2560px) {
    .home {
        padding: 0 7rem;
    }

    .home h1 {
        font-size: 10rem;
    }

    .home h3 {
        font-size: 9rem;
    }

    .home h4 {
        font-size: 4rem;
        width: 70%;
    }

    .home h2 {
        font-size: 3rem;
    }

    .home h2 span {
        font-size: 5rem;
    }

    #projects .box {
        height: 400px;
    }

    .experience .box-container .box {
        width: 100%;
    }
}

@media (max-width: 2000px) {
    .home h1 {
        font-size: 8rem;
    }

    .home h3 {
        font-size: 8rem;
    }

    .home h4 {
        font-size: 3rem;
    }

    .home h2 {
        font-size: 2.5rem;
    }

    .home h2 span {
        font-size: 5rem;
    }

    #projects .box {
        height: 240px;
    }

    #projects .box img {
        width: 12rem;
        height: 12rem;
    }

    .experience .box-container .box {
        width: 100%;
    }

}

@media (max-width: 1629px) {
    .home {
        padding: 1rem 8rem;
    }

    #projects .box {
        height: 200px;
    }

    #projects .box img {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 8rem;
    }
}

@media (max-width: 991px) {
    body {
        padding-left: 15rem;
    }
}

@media (max-width: 768px) {
    header .navbar ul li a {
        font-size: 2.2rem;
    }

    header .social a {
        font-size: 2rem;
    }

    .home {
        padding: 0 7rem;
    }

    #icon {
        height: 30px;
        width: 30px;
    }

    html {
        font-size: 50%;
    }

    .experience .box-container .box {
        width: 100%;
    }

    .slider-wrapper {
        gap: 10%;
        width: 95%;
        padding-left: 5%;
    }
}

@media (max-width: 641px) {
    header {
        width: 100vw;
    }

    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 501;
    }

    /* Icon Bars */
    .icon-bars {
        background: var(--text);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: var(--text);
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: var(--text);
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
        background: var(--maincolor);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }

    @keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::before {
        background: var(--maincolor);
        width: 10px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
    }

    @keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::after {
        background: var(--maincolor);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }

    @keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }

    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 23px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 501;
    }

    /* Icon Bars */
    .icon-bars {
        background: var(--text);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 30px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: var(--text);
        content: '';
        position: absolute;
        left: 0;
        top: -12px;
        height: 2px;
        width: 30px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: var(--text);
        content: '';
        position: absolute;
        left: 0;
        bottom: -12px;
        height: 2px;
        width: 30px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
        background: var(--maincolor);
        width: 0px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }

    @keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::before {
        background: var(--maincolor);
        width: 0px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
    }

    @keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::after {
        background: var(--maincolor);
        width: 0px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }

    @keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }

    body {
        padding: 0;
    }

    .home h3 {
        width: 130%;
    }

    .heading {
        margin: 0 3rem;
    }

    .experience .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }

    header .social a {
        font-size: 2.4rem;
    }

    header .navbar ul li a {
        font-size: 2.8rem;
    }

    header {
        left: -120%;
        width: 100vw;
    }

    header.toggle {
        left: 0%;
    }
}

@media (max-width: 600px) {
    header {
        width: 100vw;
    }

    .home h3 {
        width: 130%;
    }

    .home h4 {
        width: 90%;
    }

    .heading {
        margin: 0 3rem;
    }

    .experience .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }

    header .social a {
        font-size: 3rem;
    }

    header .navbar ul li a {
        font-size: 3rem;
    }

    .home {
        padding: 0 5rem;
    }
}

@media (max-width: 440px) {
    header {
        width: 100vw;
    }

    .home h3 {
        width: 130%;
        font-size: 6.8rem;
    }

    .home h2 {
        font-size: 2rem;
    }

    .home h1 span {
        font-size: 7.6rem;
    }

    .home {
        padding: 0rem 5rem;
    }

    .home h2 {
        font-size: 3rem;
    }

    .home h2 span {
        font-size: 5rem;
    }

    .heading {
        margin: 0 3rem;
    }

    .experience .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }

    header .navbar ul li a {
        font-size: 2.5rem;
    }

    header .social a {
        font-size: 2.5rem;
    }

    #icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 360px) {
    .home {
        padding: 0 5.2rem;
    }

    .home h3 {
        font-size: 5rem;
    }

    .home h1 {
        font-size: 5rem;
    }

    .home h1 span {
        font-size: 6.2rem;
    }

    .home h4 {
        font-size: 2.5rem;
    }

    .home h2 {
        font-size: 2.5rem;
    }

    .home h2 span {
        font-size: 4rem;
    }

    header .navbar ul li a {
        font-size: 2.4rem;
    }

    header .social a {
        font-size: 2.2rem;
    }

    #icon {
        width: 25px;
        height: 25px;
    }
}